:root {
    --background: #F1F1F1;
    --celeste: #CFF4FC;
  }

body {
    background-color: var(--background);
}

footer {
    background-color: var(--celeste);

}
.table {
    width: 100%;
}

.buttonHover:hover {
    background-color: #fff;
    border-radius: 5px;
    text-decoration: none;
    color: black;

}

#logo:hover {
    background-color: none;
}

.password-container {
    width: auto;
    position: relative;
}
.eye-icon {
    position: absolute;
    right: 23px;
    top:22px;
}
.fondo-inputs {
    background-color: #F1F1F1;
}

