<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block 'title' %}
            titulo
            {% endblock 'title' %}
        </title>

        {% load static %}

	    <link rel="stylesheet" href="{% static 'bootstrap-5.0.2-dist/css/bootstrap.min.css' %}">
	    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>
    {% include 'navbar.html' %}
    <body>
        {% block 'content' %}
        
        {% endblock %}
    </body>
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-3 mt-3 border-top" style='background-color: #CFF4FC;'>      
          
        <div class="col-4 mb-6 px-5 ">
            <div class="position-relative">
                <div class="position-absolute top-0 start-30">
                    Direccion: Av. Jorge Castro #144, Iquique, Tarapaca<br>
                <iframe  src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d1667.3859269433601!2d-70.12573517743422!3d-20.252416148373385!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMjDCsDE1JzA4LjYiUyA3MMKwMDcnMjkuOSJX!5e0!3m2!1ses-419!2scl!4v1695584109547!5m2!1ses-419!2scl" 
                width="320" height="140" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
          <div class="col-4 mb-3">
            <h5>Atención al Paciente</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Consentimiento Informado</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Ley de Urgencia</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Patologías GES</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Denuncias</a></li>
            </ul>
          </div>
          <div class="col-4 mb-3">
            <h5>Contacto</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Preguntas Frecuentes</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Sugerencias y Felicitaciones</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Reclamos</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Trabaja con Nosotros</a></li>
            </ul>
          </div>
          <div class="text-center col-12 mt-3">
            <b>Clinica Mabara &reg Todos los derechos reservados</b>
        </div>
    </footer>
    <script src="{% static 'bootstrap-5.0.2-dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/myscript.js' %}"></script>
</html>