{% extends 'base.html' %}
{% block 'title' %}
    Iniciar Sesion
{% endblock 'title' %}

{% block 'content' %}

    {% comment %} {% load crispy_forms_tags %} {% endcomment %}
    <div class='container py-5 text-center'>
        {% if not user.is_authenticated %}
        {% comment %} {% load crispy_forms_tags %} {% endcomment %}
        <form method="POST">
            {% csrf_token %}
            <div class="card mx-auto" style="width: 25rem;">
                <div class="card-body my-3" >
                <h1 class="card-title">Inicio de sesion</h1>
                {% if error == 'correo inexistente' %}
                    <div class="alert alert-danger" role="alert">
                        Correo no registrado
                    </div>
                {% elif error == 'contraseña incorrecta' %}
                    <div class="alert alert-danger" role="alert">
                        Contraseña incorrecta
                    </div>
                {% endif %}
                <p>*Los campos con asteriscos son obligatorios</p>
                <hr>

                <div class="form-floating mb-3">
                    <input type="email" class="form-control rounded-pill" name='mail' id="floatingInput" placeholder="juan@perez.com" required>
                    <label for="floatingInput" class=''>Correo electronico</label>
                  </div>
                  <div class="form-floating password-container">
                    <input type="password" name='password' class="form-control rounded-pill" id="floatingContraseña" placeholder="*******">
                    <svg  class="eye-icon" id='openEyes' style='display:none' xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                        <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                      </svg>
                      <svg class="eye-icon" id='closeEyes' xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash-fill" viewBox="0 0 16 16">
                        <path d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7.029 7.029 0 0 0 2.79-.588zM5.21 3.088A7.028 7.028 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474L5.21 3.089z"/>
                        <path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829l-2.83-2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12-.708.708z"/>
                      </svg>
                    <label for="floatingContraseña">Contraseña</label>
                  </div>

                    {% comment %} {{ form|crispy }} {% endcomment %}
                <div class="d-grid gap-2">
                  <button href="{% url 'loginName' %}" class="btn btn-primary my-5 rounded-pill" type="submit">Entrar</button> 
                </div>

                </div>
              </div>
        </form>
        {% else %}
        <h1 class='text-center mt-3'>Usted ya inició sesión</h1>
        <p class="text-center">
            Si quiere cerrar su sesión, haga click <a href={% url 'logoutName' %}>aqui</a> 
        </p>
        {% endif %}
    </div>
{% endblock %}