
<nav class="navbar navbar-expand-lg navbar-light" id='navbar_top' style="background-color: #cff4fc;">
    <div class="container-fluid">
      <a class="navbar-brand" id="logo" href={% url 'listadoName' %}><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-hospital-fill" viewBox="0 0 16 16">
        <path d="M6 0a1 1 0 0 0-1 1v1a1 1 0 0 0-1 1v4H1a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h6v-2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5V16h6a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1h-3V3a1 1 0 0 0-1-1V1a1 1 0 0 0-1-1H6Zm2.5 5.034v1.1l.953-.55.5.867L9 7l.953.55-.5.866-.953-.55v1.1h-1v-1.1l-.953.55-.5-.866L7 7l-.953-.55.5-.866.953.55v-1.1h1ZM2.25 9h.5a.25.25 0 0 1 .25.25v.5a.25.25 0 0 1-.25.25h-.5A.25.25 0 0 1 2 9.75v-.5A.25.25 0 0 1 2.25 9Zm0 2h.5a.25.25 0 0 1 .25.25v.5a.25.25 0 0 1-.25.25h-.5a.25.25 0 0 1-.25-.25v-.5a.25.25 0 0 1 .25-.25ZM2 13.25a.25.25 0 0 1 .25-.25h.5a.25.25 0 0 1 .25.25v.5a.25.25 0 0 1-.25.25h-.5a.25.25 0 0 1-.25-.25v-.5ZM13.25 9h.5a.25.25 0 0 1 .25.25v.5a.25.25 0 0 1-.25.25h-.5a.25.25 0 0 1-.25-.25v-.5a.25.25 0 0 1 .25-.25ZM13 11.25a.25.25 0 0 1 .25-.25h.5a.25.25 0 0 1 .25.25v.5a.25.25 0 0 1-.25.25h-.5a.25.25 0 0 1-.25-.25v-.5Zm.25 1.75h.5a.25.25 0 0 1 .25.25v.5a.25.25 0 0 1-.25.25h-.5a.25.25 0 0 1-.25-.25v-.5a.25.25 0 0 1 .25-.25Z"/>
      </svg> Clinica Mabara</a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      {% if user.is_superuser %}
        <li class="nav-item">
          <a class="nav-link active buttonHover" aria-current="page" href={% url 'agregarName' %} >Agregar doctores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active buttonHover" aria-current="page" href={% url 'misReservasName' %} >Reservas de pacientes</a>
        </li>
        {% elif user.is_authenticated %} 
        <li class="nav-item">
          <a class="nav-link active buttonHover" aria-current="page" href={% url 'misReservasName' %} >Mis reservas</a>
        </li>
        {% endif %}
      </ul>

          <li class="d-flex nav-item">
            <a class="nav-link active buttonHover" aria-current="page" href={% url 'howToName' %}>Como usar (tutorial)</a>
        <li class="d-flex nav-item">
          {% if user.is_authenticated %}
            <li class="d-flex nav-item">
                <a class="nav-link active buttonHover" aria-current="page" href='#'>Hola, {{user.first_name}}</a>
            <li class="d-flex nav-item">
                <a class="nav-link active buttonHover" aria-current="page" href={% url 'logoutName' %}>Cerrar sesion</a>
            </li>
            </li>
          {% else %}
                  <li class="d-flex nav-item">
                      <a class="nav-link active buttonHover" aria-current="page" href={% url 'loginName' %}>Iniciar Sesion</a>
                  </li> 
                  <li class="d-flex nav-item">
                    <a class="nav-link active buttonHover" aria-current="page" href={% url 'signupPacienteName' %}>Registrarse</a>
                </li> 
          {% endif %} 
      </div>
    </div>
  </nav>